global
    log stdout format raw local0
    maxconn 2048

resolvers docker
  nameserver dns 127.0.0.11:53
  resolve_retries       3
  timeout resolve       1s
  timeout retry         1s
  hold valid            10s

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
    stats auth admin:admin
    stats hide-version
    stats realm Haproxy\ Statistics
    timeout client 30s
    timeout connect 5s
    timeout server 30s

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    retries 3

frontend https_front
    bind *:443 ssl crt /etc/haproxy/certs/haproxy.pem
    mode http
    option httplog
    log global
    acl is_https ssl_fc
    use_backend martini_backend if is_https

frontend http_front
    bind *:80
    redirect scheme https if !{ ssl_fc }

backend martini_backend
    balance roundrobin
    option httpchk GET /
    http-check expect status 200
    server-template martini 5 martini:8080 check resolvers docker init-addr last,libc


